<div class="page-header">
  <h1>Current Alpha Bloggers</h1>
</div>
<div class="text-center">
  <%= will_paginate %>
</div>

<% @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4 text-center">
        <li><%= link_to gravatar_for(user), user %></li>
        <li class="article-title">
          <%= link_to user.username, user %>
        </li>
        <li>
          <small>
            <%= pluralize(user.articles.count, 'article') if user.articles %>
          </small>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li>
            <%= link_to 'Delete this user', user, method: :delete,
                data: { confirm: 'Are you sure you want to delete this user and all of their articles?' },
                class: 'btn btn-danger btn-xs' %>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
<% end %>

<div class="text-center">
  <%= will_paginate %>
</div>
